<!-- templates/inventory/supplier_form.html -->
{% extends 'inventory/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ form_title }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>
        <div class="mb-3">
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>
        <div class="mb-3">
            {{ form.website.label_tag }}
            {{ form.website }}
        </div>
        <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary" style="font-size: 14px; padding: 6px 10px;">Submit</button>
    </form>
</div>
{% endblock %}
