{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <h2 class="my-4">{% if form.instance.pk %}Edit Supplier{% else %}Add Supplier{% endif %}</h2>
    <form class="d-flex flex-column gap-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Supplier Name</label>
            <input type="text" name="name" class="form-control" id="name" value="{{ form.name.value|default_if_none:'' }}">
            {% if form.name.errors %}
            <div class="alert alert-danger">{{ form.name.errors|striptags }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="logo">Logo</label>
            <input type="file" name="logo" class="form-control-file" id="logo">
            {% if form.instance.pk and form.instance.logo %}
            <img src="{{ form.instance.logo.url }}" alt="{{ form.instance.name }}" class="img-fluid mt-2">
            {% endif %}
            {% if form.logo.errors %}
            <div class="alert alert-danger">{{ form.logo.errors|striptags }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="contact_email">Contact Email</label>
            <input type="email" name="contact_email" class="form-control" id="contact_email" value="{{ form.contact_email.value|default_if_none:'' }}">
            {% if form.contact_email.errors %}
            <div class="alert alert-danger">{{ form.contact_email.errors|striptags }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="url" name="website" class="form-control" id="website" value="{{ form.website.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" name="phone_number" class="form-control" id="phone_number" value="{{ form.phone_number.value|default_if_none:'' }}">
            {% if form.phone_number.errors %}
            <div class="alert alert-danger">{{ form.phone_number.errors|striptags }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-control" id="address" value="{{ form.address.value|default_if_none:'' }}">
            {% if form.address.errors %}
            <div class="alert alert-danger">{{ form.address.errors|striptags }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-success">{% if form.instance.pk %}Update{% else %}Add{% endif %} Supplier</button>
    </form>
{% endblock %}