{% extends 'main/base.html' %}
{% block content %}

<div id="content" class="bg-white/10 col-span-9 rounded-lg p-6">
    <div class="min-h-screen  py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="relative px-4 py-10 bg-white/20 mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
                <div class="max-w-md mx-auto">
                    <div class="flex items-center space-x-5">
                        <div
                            class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono">
                            i</div>
                        <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                            <h2 class="leading-relaxed text-white">Add Supplier</h2>
                            <p class="text-sm text-gray-400 font-normal leading-relaxed">Accurate supplier information is essential. Please review carefully before submitting.</p>
                        </div>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <div class="flex flex-col">
                                <form action="{% url 'suppliers:update_supplier' supplier.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{next}}">
                                    <!-- form post -->
                                <label class="leading-loose text-white">Supplier Name</label>
                                <input type="text" 
                                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="Amazon" name="name" value="{{supplier.name}}">
                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white">Email</label>
                                <input value="{{supplier.email}}" type="email" name="email" placeholder="example@gmail.com" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" >

                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white">Website URL</label>
                                <input value="{{supplier.website}}" name="website_url" type="url" placeholder="https://Amazon.com" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" >


                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white " >Phone Number</label>
                                <input type="text" name="phone_number" value="{{supplier.phone}}"
                                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="05xxxxxxxx">
                            </div>

                            <div class="flex flex-col">
                                <label class="leading-loose text-white ">Country</label>
                                <input type="text" name="country" value="{{supplier.country}}"
                                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="sauid arabia">
                            </div>
 <!--  -->

 <div class="col-span-full">
    <label for="cover-photo" class="block  font-medium leading-6 text-xl text-white/90">Logo</label>
    <div class="mt-2 flex justify-center rounded-lg border border-dashed border-black/25 px-6 py-10">
      <div class="text-center flex flex-col justify-center items-center">
       <img src="{{supplier.logo.url}}" alt="" class="w-20">
        <div class="mt-4 flex text-sm leading-6 text-gray-600">
          <label for="file-upload" class="relative cursor-pointer rounded-md  font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
            <span class="text-white bg-black/30 p-1 rounded-md">Change Image</span>
            <input id="file-upload" name="logo" type="file" class="sr-only"  accept="image/*"  >
            
          </label>
          <p class="pl-1 text-indigo-500">or drag and drop</p>
        </div>
        <p class="text-xs leading-5 text-white">PNG, JPG, GIF up to 10MB</p>
      </div>
    </div>
  </div>





 <!--  -->


                        </div>
                        
                        <div class="pt-4 flex items-center space-x-4">
                            <input type="submit" onclick="updated()"
                                class="bg-indigo-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none cursor-pointer" value="Update">
                        </div>
                        
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}