{% extends 'main/base.html' %}

{% load static %}

{% block title %}Suppliers{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container mt-4">
    <h2>Suppliers Catalog</h2>
    <hr>
        <!-- Search Form -->
        <form class="d-flex" role="search" method="get" action="{% url 'Supplier:supplier_page' %}">
            <input class="form-control me-2" type="search" placeholder="Search for a Supplier" aria-label="Search" name="searched" value="{{ search_term }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    
        <!-- Search Results Message -->
        {% if search_term %}
            <h3>Search Results for "{{ search_term }}"</h3>
            {% if suppliers %}
                <p>Found {{ suppliers.count }} matching suppliers.</p>
            {% else %}
                <p>No Suppliers found.</p>
            {% endif %}
        {% endif %}

    <!-- Product Table -->
    <div class="shadow-sm p-3 mt-5 mb-5 bg-white rounded"> 
    <table class="table table-striped ">
        <thead>
            <tr>
                <th style="background-color: #E7EFF3; color: #495D69;"></th>
                <th style="background-color: #E7EFF3; color: #495D69;">Name</th>
                <th style="background-color: #E7EFF3; color: #495D69;">email</th>
                <th style="background-color: #E7EFF3; color: #495D69;">number of products</th>
            </tr>
        </thead>
        <tbody>
            {% if suppliers %}
                {% for supplier in suppliers %}
                    <tr>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ supplier.id }}" href="#">
                                <span class="material-symbols-outlined">delete</span>
                            </a>
                        </td>                       
                        <td><a href="{% url 'Supplier:supplier_detail' supplier.id %}">{{ supplier.name }}</a></td>
                        <td>{{ supplier.email }}</td>

                        <td>{{supplier.product_set.count }}</td>
                    </tr>
                    <!-- Modal for deletion confirmation -->
                    <div class="modal fade" id="deleteModal-{{ supplier.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ supplier.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-{{ supplier.id }}">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ supplier.name }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'Supplier:delete_supplier' supplier.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No products available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'Supplier:add_supplier' %}"><div class="circle"></div></a> 

</div>
</div>
{% endblock %}