{% extends 'main/base.html' %}
{% block content %}

<div id="content" class="bg-white/10 col-span-9 rounded-lg p-6">
    <div class="min-h-screen  py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="relative px-4 py-10 bg-white/20 mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
                <div class="max-w-md mx-auto">
                    <div class="flex items-center space-x-5">
                        <div
                            class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono">i</div>
                        <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                            <h2 class="leading-relaxed text-white">Add Product</h2>
                            <p class="text-sm text-gray-400 font-normal leading-relaxed">Accurate product information is essential. Please review carefully before submitting.</p>
                        </div>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <div class="flex flex-col">
                                <form action="" method="post">
                                    {% csrf_token %}
                                <label class="leading-loose text-white">Product Name</label>
                                <input type="text"  required
                                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="Product Name" name="name" value="{{product.name}}">
                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white">Category</label>
                                <select name="category" id="" required>
                                    <option value="">Choose Category</option>
                                    {% for category in categories %}
                                        {% if category == product.category %}
                                    <option value="{{category.id}}" selected>{{category.name}}</option>
                                    {% else %}
                                    <option value="{{category.id}}" >{{category.name}}</option>
                                    {% endif%}
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white" required>Supplier</label>
                                <select multiple name="supplier" id="suppliers" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                                    {% for supplier in suppliers %}
                                    {% if supplier in product.supplier.all %}
                                    <option value="{{supplier.id}}" selected>{{supplier.name}}</option>
                                    {% else %}
                                    <option value="{{supplier.id}}" >{{supplier.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white" >Number Of Items</label>
                                <input type="number" name="stock_level" required min="0"
                                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="Number of items" value="{{product.stock_level}}">
                            </div>

                            <div class="flex flex-col">
                                <label class="leading-loose text-white">Price</label>
                                <input type="number" name="price" min="0"
                                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="$" value="{{product.price}}">
                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white">Expirment Date</label>
                                <input type="date" name="expirment_date"
                                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="Optional" value="{{product.expirment}}">
                            </div>
                            <div class="flex flex-col">
                                <label class="leading-loose text-white">Description</label>
                                <textarea name="description" id="" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                placeholder="Write description about your product" >{{product.description}}</textarea>


                        </div>
                        
                        <div class="pt-4 flex items-center space-x-4">
                            <button
                                class="bg-indigo-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Update</button>
                        </div>
                    </form>
                    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
                    <script>
                        
                        new MultiSelectTag("suppliers")
                    </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}