.navbar-custom {
    background-color: #4796BD; 
    color: #FFFFFF;
}
body{
    background-color: #F3F9FB;
}
.logo-img {
    width: 100px;
    height: auto; 
    margin-right: 1rem;
    position: static;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.navbar-custom .nav-link.active {
    background-color: #F4FAF8; 
    border-radius: 10px;
    padding: 1px 18px !important;
    margin-top: .34rem;
}


.navbar-custom .dropdown-menu {
    background-color: #F0F0F0; 
}
.navbar-custom .dropdown-item {
    color: #333333; 
}
.navbar-custom .dropdown-item:hover {
    background-color: #122E40; 
    color: #FFFFFF;
}
.btn-outline-success {
    color: #122E40;
    border-color: #122E40;
}
.btn-outline-success:hover {
    background-color: #122E40;
    color: #FFFFFF;
}

h1{
    color: #122E40;
    font-family: "Rubik", sans-serif;
    animation: fadeIn 1s ease-out forwards;

     
}
h2{
    color: #122E40;
    font-family: "Rubik", sans-serif;
    animation: fadeIn 1.7s ease-out forwards;

}
p{
    color:#2F7583 ;
    font-family: "Rubik", sans-serif;
    animation: fadeIn 2.3s ease-out forwards;

}

.form-container {
    background-color: white;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border-radius: 5px; 
    margin-top: 20px; 
    
}
.required-asterisk {
    color: red; 
}

h4{
    font-family: "Rubik", sans-serif;
    animation: fadeIn 1.7s ease-out forwards;

}

    /*  animations */
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    