/* a:hover {
  border-color: #6D31ED;
  border-style: solid;
  border-width: 2px;
} */

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

