{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventory Plus{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>


    <header class="bg-dark flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="{% url 'inventory:product_list' %}"><h1 class="mb-0 logo text-white">Inventory Plus</h1></a>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{% url 'main:home' %}" class="nav-link text-white">Dashboard</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:product_list' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:category_list' %}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:supplier_list' %}">Suppliers</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Analytics
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'analytics:inventory_report' %}">Inventory Report</a>
                                <a class="dropdown-item" href="{% url 'analytics:supplier_report' %}">Supplier Report</a>
                                <a class="dropdown-item" href="{% url 'analytics:low_stock_alerts' %}">Low Stocks</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <form class="form-inline" method="get" action="{% url 'inventory:search' %}">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search for products or suppliers" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </header>


    

    <main class="container my-5 pb-5">
        {% block content %}
        
        {% endblock %}
    </main>


    

    <footer class="bg-dark text-white py-4 fixed-bottom mt-5">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col">
                    <tfoot><p class="text-muted">© 2024 | Inventory Plus</p></tfoot>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
