<div class="shadow-sm p-3 mt-5 mb-5 bg-white rounded"> 
    <table class="table table-striped ">
        <thead >
            <tr > 
            
                </style>
                <th style="background-color: #E7EFF3; color: #495D69;">Name</th>              
                <th style="background-color: #E7EFF3;color: #495D69;">Category</th>
                <th style="background-color: #E7EFF3;color: #495D69;">Expiry Date</th>
                <th style="background-color: #E7EFF3;color: #495D69;">Stock</th>
            </tr>
        </thead>
        <tbody>
            {% if products %}
                {% for product in products %}
                    <tr>
                  
                        <td><a href="{% url 'Product:product_detail' product.id %}">{{ product.name }}</a></td>
                        <td><a href="{% url 'Category:category_detail' product.category.id %}">{{ product.category.name }}</a></td>
                       
                        <td>{{ product.expiry_date|date:"Y-m-d" }}</td>
                        <td>{{ product.stock }}</td>
                    </tr>

                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No products available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

</div>