{% extends 'main/base.html' %}
{% load static %}
{% block title %} all Categories{% endblock %}
{% block content %}
<style>
    .category-card {
    position: relative;
    overflow: hidden;
}
.category-card img {
    transition: transform 0.5s ease;
    height: 200px; 
}
.category-card h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: opacity 0.5s ease;
    opacity: 0;
    text-align: center;
    width: 100%;
}
.category-card:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}
.category-card:hover h3 {
    opacity: 1;
}
.category-card .explore-more {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: opacity 0.5s ease;
    opacity: 0;
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.category-card:hover .explore-more {
    opacity: 1;
}
</style>
<div class="container mt-4">
    <h2>All Categories</h2>
    <hr>
        <!-- Search Form -->
        <form class="d-flex" role="search" method="get" action="{% url 'Category:category_page' %}">
            <input class="form-control me-2" type="search" placeholder="Search for a Category" aria-label="Search" name="searched" value="{{ search_term }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    
        <!-- Search Results Message -->
        {% if search_term %}
            <h3>Search Results for "{{ search_term }}"</h3>
            {% if categories %}
                <p>Found {{ categories.count }} matching categories.</p>
            {% else %}
                <p>No Categories found.</p>
            {% endif %}
        {% endif %}
    {% include 'Category/all_categories.html' %}
</div>
{% endblock %}