{% extends 'main/base.html' %}

{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>

    input[type="submit"] {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #495D69;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    input[type="submit"]:hover {
        background-color: #354B56;
    }
    th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            
        }
        a {
            text-decoration: none;
            color: #354B56;
            transition: all 0.2s ease-in-out;
            box-shadow: 0 2px 5px rgba(0,0,0,0);
            border-radius: 4px;
        }
        a:hover {
            color: rgb(202, 40, 40);
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }

    .circle {
    width: 50px; 
    height: 50px; 
    background-color: #4796BD; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;  
    bottom: 20px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.circle:hover {
    transform: scale(1.1); 
    background-color: #357ABD; 
}

.circle::before, .circle::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: background-color 0.3s; 
}

.circle::before {
    width: 60%;  
    height: 10%; 
    top: 45%;
    left: 20%;
}

.circle::after {
    width: 10%;   
    height: 60%;  
    left: 45%; 
    top: 20%; 
}

.circle:hover::before, .circle:hover::after {
    background-color: #FFF; /* Changes the cross color on hover */
}
</style>
<div class="container mt-4">
    

</div>
<div class="container mt-4 container-relative">
    <h2>Categories Catalog</h2>
    <hr>
    <!-- Search Form -->
    <form class="d-flex" role="search" method="get" action="{% url 'Category:category_page' %}">
        <input class="form-control me-2" type="search" placeholder="Search for a Category" aria-label="Search" name="searched" value="{{ search_term }}">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Search Results Message -->
    {% if search_term %}
        <h3>Search Results for "{{ search_term }}"</h3>
        {% if categories %}
            <p>Found {{ categories.count }} matching categories.</p>
        {% else %}
            <p>No Categories found.</p>
        {% endif %}
    {% endif %}

    <!-- Categories Table -->
    <div class="shadow-sm p-3 mt-5 mb-5 bg-white rounded"> 
    <table class="table table-striped mt-3 ">
        <thead>
            <tr>
                {% if request.user.is_staff%}
                <th style="background-color: #E7EFF3; color: #495D69;"></th>
                <th style="background-color: #E7EFF3; color: #495D69;"></th>
                {% endif %}
                <th style="background-color: #E7EFF3; color: #495D69;">Name</th>
                <th style="background-color: #E7EFF3; color: #495D69;">Number of Products</th>
            </tr>
        </thead>
        <tbody>
            {% if categories %}
                {% for category in categories %}
                    <tr>
                        {% if request.user.is_staff%}

                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#updateModal-{{ category.id }}" href="#">
                            <span class="material-symbols-outlined">edit</span>    
                        </td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ category.id }}" href="#">
                                <span class="material-symbols-outlined">delete</span>
                            </a>
                        </td> 
                        {% endif %}                      
                        <td><a href="{% url 'Category:category_detail' category.id %}">{{ category.name }}</a></td>
                        <td>{{ category.products_count }}</td>

                    </tr>

                     <!-- Modal for Update Form -->
                     <div class="modal fade" id="updateModal-{{ category.id }}" tabindex="-1" aria-labelledby="updateModalLabel-{{ category.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel-{{ category.id }}">Update Category</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{% url 'Category:category_update' category.id%}">
                                        {% csrf_token %}
                                        <label for="category-name" class="form-label">name</label>

                                        <input type="text" class="form-control mb-3" id="category-name" name="name" value="{{ category.name }}" placeholder="Category Name">
                                        
                                        <label for="category-info" class="form-label">Description</label>
                                        <textarea class="form-control mb-3" id="category-info" name="info" rows="3" placeholder="Description">{{ category.info }}</textarea>

                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <!-- Modal for deletion confirmation -->
                    <div class="modal fade" id="deleteModal-{{ category.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ category.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-{{ category.id }}">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ category.name }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'Category:delete_category' category.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No categories available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    {% if request.user.is_staff%}

   <a href="{% url 'Category:add_category' %}"><div class="circle"></div></a> 
   {% endif %}

</div>

     <!-- pagination -->
     <div class="pagination d-flex justify-content-center align-items-center mt-5 gap-4">
        {% if categories.has_previous %}
            <div class="d-flex gap-1">
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ categories.previous_page_number }}">&laquo; previous</a>
            </div>
        {% endif %}
    
        <div class="current">
            Page {{ categories.number }} of {{ categories.paginator.num_pages }}
        </div>
    
        {% if categories.has_next %}
            <div class="d-flex gap-1">
                <a href="?page={{ categories.next_page_number }}">next &raquo;</a>
                <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
            </div>
        {% endif %}
    
    
    </div> 
        <!-- Export Form -->
        <form class="mt-5" method="post" action="">
            {% csrf_token %}
            <input type="submit" name="export" value="Export to CSV" class="btn btn-primary">
        </form>
</div>


{% endblock %}