{% extends 'main/base.html' %}

{% block title %}Low Stock Alerts{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="my-4">Low Stock Alerts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in low_stock_products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
