{% extends 'inventory/base.html' %}


{% block title %}Create New Game{% endblock %}

{% block content %}
<h1>add supplier</h1>

<div class="row">

    <div class="col-6">

        <form class="d-flex flex-column gap-2" action="{% url 'suppliers:add_supplier' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="name" name="supplierName" class="form-control" required minlength="5" maxlength="512"/>
            <textarea placeholder="address" name="supplierAddress" class="form-control" required></textarea>
            <input type="number" placeholder="phone number" name="supplierPhoneNumber" id="" class="form-control">
            <input type="email" placeholder="email" name="supplierEmail" id="" class="form-control" required>
            <input type="number" placeholder="product Quantity" name="productQuantity" id="" class="form-control" required>
            <input type="number" placeholder="unit Price" name="unitPrice" id="" class="form-control" required>
            <input type="number" placeholder="total Price" name="totalPrice" id="" class="form-control" required>
            <input type="number" placeholder="supplier Discount" name="supplierDiscount" id="" class="form-control" required>

            <!-- <input type="date" name="release_date" class="form-control" required/> -->

            <!-- <input type="file" name="poster" class="form-control" required accept="image/*"/> -->

            <input type="submit" value="Create Game" class="btn btn-primary mt-4" />

        </form>


    </div>

</div>

<hr />


{% endblock %}