{% extends 'inventory/base.html' %}

{% block title %} All Suppliers {% endblock %}

{% block content %}

<div class="row-12  mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>all suppliers</h1>
        <!-- Button trigger modal -->
        <a href="{% url 'suppliers:supplier_add' %}" class="btn btn-success">
            Add Supplier
        </a>
    </div>
    <table class="table table-responsive table-striped center-text-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Products Supplied</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplierName }}</td>
                <td>{{ supplier.supplierPhoneNumber }}</td>
                <td>{{ supplier.supplierEmail }}</td>
                <td>{{ supplier.product_set.count }}</td>
                <td>
                    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
                        <a href="{% url 'suppliers:supplier_detail' supplier.id %}"
                            class="btn btn-outline-primary">details</a>
                        <a href="{% url 'suppliers:supplier_update' supplier.id %}"
                            class="btn btn-outline-primary">update</a>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{supplier.id}}">delete</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Delete supplier</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <p id="message">Are you sure you want to delete this supplier?</p>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
          </div>
        </div>
      </div>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        var deleteModal = document.getElementById('exampleModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var supplierID = button.getAttribute('data-id');
            deleteModal.querySelector('form').action = '/suppliers/' + supplierID +'/delete/';
        });
    });
</script>

{% endblock %}