body {
    background-color: white;
    color: #21273a;
}
.bg-primary {
    background-color: #21273a !important;
}

.btn-primary{
    background-color: #21273a !important;
}

.text-primary{
    color: #21273a !important;
}