{%extends "pages_base/base_home.html"%}
{% load static %}


{% block body%}

{% if Notifications %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Awesome, the purchase was successful!</strong>We were delighted to have you visit. Please come again.

  </div>
    {% endif %}
<div class="row mh-100 bg-banner" style="height: 90vh;">
    <div class="col text-white d-flex justify-content-center align-items-center flex-column text-center">
        <h1><span class="bg-dark p-1" style="border-radius: 20px;">Shop Now</span> and Cherish the Best Moments!</h1>
        <p>Explore our wide range of high-quality products at unbeatable prices. Shop now and take advantage of our
            exclusive offers. Don’t miss out!</p>
        <a href="#" class="btn buttom">product</a>
    </div>
    <div class="col d-flex justify-content-center align-items-center flex-column img">
        <img src="{% static 'img/img_banner.png' %}" alt="">
    </div>
</div>
<section class="game-section">
    <h2 class="line-title">Store Categories</h2>
    <div class="owl-carousel custom-carousel owl-theme row">

        <div class="item mt-5" style="background-image: url('{% static 'img/Canned.jpg'%}');">
            <div class="item-desc">
                <h3>Canned</h3>
                <a href="{% url 'mian:views_product_category' 1 %}" class="btn text-white">Visit</a>
            </div>
        </div>

        <div class="item mt-5" style="background-image: url('{% static 'img/Clothing.jpg'%}');">
            <div class="item-desc">
                <h3>Clothing</h3>
                <a href="{% url 'mian:views_product_category' 2 %}" class="btn text-white">Visit</a>
            </div>
        </div>
        <div class="item mt-5" style="background-image: url('{% static 'img/phone.jpg'%}');">
            <div class="item-desc">
                <h3>Phone</h3>
                <a href="{% url 'mian:views_product_category' 3 %}" class="btn text-white">Visit</a>
            </div>
        </div>

    </div>
</section>

<div class="d-flex mt-5">
    {% if views_product%}
    <div class='row'>
        {% for plants in views_product%}
        <div class='col'>
            <div class="card d-flex justify-content-center align-items-center" style="width: 18rem;">
                <img src="{{plants.Images_Product.url}}" class="card-img-top" alt="...">
                <div class="card-body flex-column">
                    <a href="" class="btn">
                        <h5 class="card-title">{{plants.Name_Product}}</h5>
                    </a>
                    <p class="card-text">{{ plants.Category_product.name_Category}}</p>

                    <p>
                        <p>{{plants.Price_Product}}SR</p>
                        {% if plants.Status_Product == 0 %}
                        <p href="{% url 'mian:pay_product' plants.id %}" class="btn btn-danger mt-1 ps-5 pe-5">no</p>
                        {% else %}
                        <a href="{% url 'mian:pay_product' plants.id %}" class="btn btn-dark mt-1 mt-1 ps-5 pe-5">Bay</a>
                        {% endif %}
                    </p>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {%else%}
    <h1>There are no plants</h1>
    {%endif%}
</div>

{% endblock %}