{% extends 'inventory/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ form_title }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="mb-3">
            {{ form.supplier.label_tag }}
            {{ form.supplier }}
        </div>
        <div class="mb-3">
            {{ form.price.label_tag }}
            {{ form.price }}
        </div>
        <div class="mb-3">
            {{ form.stock_quantity.label_tag }}
            {{ form.stock_quantity }}
        </div>
        <div class="mb-3">
            {{ form.expiry_date.label_tag }}
            {{ form.expiry_date }}
        </div>
        <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
    <button type="submit" class="btn btn-primary" style="font-size: 14px; padding: 6px 10px;">Submit</button>
    </form>
</div>
{% endblock %}
