
{% extends 'main/base.html' %}


{% block title %}Add New Product{% endblock %}

{% block content %}
<h2>Add Product</h2>

<div class="row">

    <div class="col-6">

        <form class="d-flex flex-column gap-2" action="{% url 'products:add_product_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Product Name" name="product_name" class="form-control" required minlength="2" maxlength="256"/>
            <textarea placeholder="Description" name="description" class="form-control" required></textarea>

            <select name="category" class="form-select" required>
                <option>Choose Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <select class="form-select" multiple="multiple" name="suppliers" id="suppliers" required>
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.supplier_name }}</option>
                {% endfor %}
            </select>
            
            <input type="text" placeholder="Stock Level" name="stock_level" class="form-control" required/>
            <input type="date" name="expiry_date" class="form-control" />

            <input type="file" name="image" class="form-control"  accept="image/*"/>

            
            <input type="submit" value="Save Product" class="btn sky-bg mt-3" />

        </form>


    </div>

</div>



{% endblock %}