{% extends 'inventory/base.html' %}

{% block title %} Product Details {% endblock %}

{% block content %}
<div class="container">
    <h1>{{ product.productName }}</h1>
    <p>{{ product.productDescription }}</p>
    <p>Price: {{ product.productPrice }}</p>
    <p>Stock: {{ product.productStock }}</p>
    <p>Category: {{ product.productCategory.categoryName }}</p>
    <p>Supplier: {% for supplier in product.productSupplier.all %} {{ supplier.supplierName }}{% if not forloop.last %},{% endif %} {% endfor %}</p>
    <p>Production Date: {{ product.productionDate }}</p>
    <p>Expiration Date: {{ product.expirationDate }}</p>
    <img src="{{ product.productImage.url }}" alt="{{ product.productName }}" class="img-fluid">
</div>
{% endblock %}
