{% extends 'inventory/base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}


<h2 class="mb-3">low stock product ({{low_stock_products|length}})</h2>
<div class="d-flex gap-2">
    
{% for product in low_stock_products %}
{% for product_id in product%}

<div class="bg-light d-flex flex-column align-items-center gap-3 mb-5 p-4 rounded shadow-sm w-50">

    <h4>
        {{product_id.productName}}
    </h4>
    <strong>
        {{product_id.productStock}}

    </strong>
    <a href="{% url 'inventory:inventory_view' %}" class="btn btn-outline-primary">update stock</a>


</div>

    
{% endfor%}
{% endfor%}

</div>

<div class="row-12 m-5">

    <h1 class="mb-4">Product Stock Chart</h1>
    <div>{{ product_graph_div|safe }}</div>

    <h1 class="mb-4 mt-4">Products per Supplier Chart</h1>
    <div>{{ supplier_graph_div|safe }}</div>

</div>

{% endblock %}