{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ product.name }} Details{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'inventory:product_list' %}" class="btn btn-outline-secondary mb-3">Back to Product List</a>
    <div class="row my-4">
        <div class="col-md-6">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p><strong>Category:</strong> {{ product.category.name }}</p>
            <p><strong>Price:</strong> ريال {{ product.price }}</p>
            <p><strong>Stock:</strong> {{ product.stock }}</p>
            <p>{{ product.description }}</p>
            <a href="{% url 'inventory:product_edit' product.pk %}" class="btn btn-warning mt-2">Update</a>
            <a href="{% url 'inventory:product_delete' product.pk %}" class="btn btn-danger mt-2">Delete</a>
        </div>
    </div>
    <hr/>
    <h3 class="mt-4 p-3">Related Products</h3>
    <div class="row mt-5 overflow-auto" style="white-space: nowrap;">
        {% for related_product in related_products %}
        <div class="col-md-4 mb-4 d-inline-block" style="float: none;">
            <a href="{% url 'inventory:product_detail' related_product.id %}" class="text-decoration-none text-dark">
                <div class="card">
                    {% if related_product.image %}
                    <img src="{{ related_product.image.url }}" class="card-img-top" alt="{{ related_product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ related_product.name }}</h5>
                        <p class="card-text"><strong>{{ related_product.category.name }}</strong></p>
                        <a href="{% url 'inventory:product_detail' related_product.id %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <p class="mt-5 p-5">No related products available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
