{% extends 'main/base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">All Products</h2>
    <form method="get" class="mb-4" id="filter-form">
        <div class="form-row align-items-end">
            <div class="col-5">
                <label for="category">Category</label>
                <select name="category" class="form-control" id="category" onchange="document.getElementById('filter-form').submit();">
                    <option value="">All Categories</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <a href="{% url 'inventory:product_list' %}" class="btn btn-secondary mt-2 ml-2 float-right">Clear Filter</a>
            </div>
        </div>
    </form>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td class="align-middle">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-thumbnail" style="max-width: 50px; max-height: 50px;" alt="{{ product.name }}">
                    {% endif %}
                    {{ product.name }}
                </td>
                <td class="align-middle">{{ product.category.name }}</td>
                <td class="align-middle">{{ product.price }} ريال </td>
                <td class="align-middle">{{ product.stock }}</td>
                <td class="align-middle">
                    <a href="{% url 'inventory:product_detail' product.pk %}" class="btn btn-info btn-sm">View</a>
                    <a href="{% url 'inventory:product_edit' product.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'inventory:product_delete' product.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'inventory:product_create' %}" class="btn btn-success">Add Product</a>
</div>
{% endblock %}
