body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #6D31ED; 
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}