{% extends 'main/base.html' %}
{% load static %}
{% block title %} Analytics {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="page-label">Dashboard Analytics</h1>
     <hr>
     <div class="row">
        <div class="col-6">
            <div class="stat-box">
                <h4>Average Unit Price</h4>
                <p>${{ avg.price__avg|default:"0.00" }}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="stat-box">
                <h4>Total Inventory Value</h4>
                <p>${{ sum.price__sum|default:"0" }}</p>
            </div>
        </div>
        <!-- <div class="col-3">
            <div class="stat-box">
                <h4>Maximum Price</h4>
                <p>${{max.price__max|default:"0.00" }}</p>
            </div>
        </div>
        <div class="col-3">
            <div class="stat-box">
                <h4>Minimum Price</h4>
                <p>${{ min.price__min|default:"0.00" }}</p>
            </div>
        </div> -->
    </div>
    <hr>

    <!-- Chart Containers -->
    <div class="row">
        <div class="col-12 chart-container">
            <div>{{ product_chart|safe }}</div>
            <p style="color: red; font-size: 16px;">{{ low_stock_warning }}</p>
            <a href="{% url 'Product:product_page'%}"><h3>view & edit Products</h3></a>   
        </div>
        
        <div class="col-12 chart-container">
            <div>{{ supplier_chart|safe }}</div>
            <a href="{% url 'Supplier:supplier_page' %}"><h3>view & edit Suppliers</h3></a>   

        </div>
    </div>
</div>



<style>
    .page-label {
        font-size: 24px;
        color: #333;
        margin-bottom: 30px; 
        text-align: center; 
    }
    .container-fluid {
        padding: 20px;
    }
    .chart-container {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        height: auto;  
    }
    a{
        text-decoration: none;
        color: #333;
        transition: all 0.2s ease-in-out;

    }
    a:hover {
            color: rgb(202, 40, 40);
            transform: translateY(-2px);
    }
    
</style>
{% endblock %}