{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<style>
    .content-area {

        background-color: #F3F9FB;
    }
    h1 {
        position: absolute;
        top: 30%;
        left: 0;
        transform: translateY(-30%);
        color: #122E40;
        text-align: left; 
        font-family: "Rubik", sans-serif;
        padding-left: 20px;
        width: 100%; 
    }
    .button-container {
        position: absolute;
        top: 40%; 
        left: 0; 
        padding-left: 20px; 
        z-index: 2;
    }
    .analytics-button {
        padding: 10px 20px;
        background-color: #122E40; 
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
   
</style>

<div class="container-fluid w-100 content-area">
  
    <h1 class="main-text">
        Welcome to Our Inventory System
    </h1>

    <!-- Analytics Button -->
    <div class="button-container">
        <a href="{% url 'main:analytics_view' %}"><button class="analytics-button" >View Analytics</button></a>
    </div>

</div>
{% endblock %}