{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}
    Edit Product
{% endblock %}
{% block content %}
    <div class="form container mt-4 mb-4 col-6">
        <h1>Edit Product</h1>
        <form method="post" action="{% url 'product:edit_view' product.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ product_form|crispy }}
            <div class="d-flex justify-content-center">
            <input type="submit" value="Edit Product" class="btn btn-outline-primary">
                </div>
        </form>
    </div>
{% endblock %}